.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* 처음엔 숨김 */
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.custom-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 */
  backdrop-filter: blur(4px); /* 흐림 효과 */
  z-index: 1;
}

.modal-dialog {
  position: relative;
  z-index: 2;
  width: 100%;
}

#searchicon {
    display: ruby;
}

.menu-info li {
  font-size: 1.1em;
  margin-bottom: 8px;
}
